---
import ShowMovies from '../layouts/ShowMovies.astro';
import MovieSlider from '../components/MovieSlider.astro';
import MovieSliderL from '../components/MovieSlider-L.astro';
import Person from '../components/Person.astro';
import Header from '../components/header.astro';

const users = {}
const user1 = 123123
const user2 = 4123215

---
<Header title='Recommender Demos' headerColor="#B1B2FF"></Header>
<ShowMovies title="SFI MediaFutures">
	<div class="griditem1">
		<Person img='https://ozgrozer.github.io/100k-faces/0/5/005989.jpg'>
			<h4>This is Beatrice</h4> 
			<p>Beatrice is a niche user who only likes this and that</p>
		</Person>
		<MovieSliderL title='Bob likes' uId='1' url={`http://0.0.0.0:8000/api/recommendation/${user1}/original`}>
			<p>These are the moives the user picked</p>
		</MovieSliderL>

		<MovieSliderL title='Recommendation:' uId='2' url={`http://0.0.0.0:8000/api/recommendation/${user1}/SVD`}>
			<p>These are movies given by our reccommendation model</p>
		</MovieSliderL>

		<MovieSliderL title='A calibrated recommendation:' uId='3' url={`http://0.0.0.0:8000/api/recommendation/${user1}/SVD`}>
			<p>These are the calibrated recommendation</p>
		</MovieSliderL>

	</div>
	<div class="griditem2">
		<Person>
			<h4>This is Paulie</h4> 
			<p>Paulie is a user who knows nothing about movies, and should not be allowed to choose.</p>
		</Person>
		<MovieSliderL title='Paulie likes' uId='4' url={`http://0.0.0.0:8000/api/recommendation/${user2}/original`}>
			<p>These are the moives the user picked</p>
		</MovieSliderL>

		<MovieSliderL title='Recommendation:' uId='5' url={`http://0.0.0.0:8000/api/recommendation/${user2}/SVD`}>
			<p>These are movies given by our reccommendation model</p>
		</MovieSliderL>

		<MovieSliderL title='A calibrated recommendation:' uId='6' url={`http://0.0.0.0:8000/api/recommendation/${user2}/SVD`}>
			<p>These are the calibrated recommendation</p>
		</MovieSliderL>

	</div>
</ShowMovies>

<style>
	.griditem1 {

	}
	.griditem2 {

	}
</style>