---
import RecipeDiv from './recipe_div.astro';
import Submit from './Submit.astro';
export interface Props {
    title: string,
    body?: string,
    url?: string,
	questionId: string,
    usierId?: string,
	maxtime?: number,
    reccommendation?: string,
}


const {url = 'http://0.0.0.0/api/recipes/initial', title, body, questionId, maxtime=20000} = Astro.props;
const settings = '../../config.json'
const n = 10
const n_rec = []
Array.from({ length: n }, (x, i) => {n_rec.push(i)})

---
<li class="likard">
	<div class="likard-cont-mov" id={'div_' + questionId}>
		<h3>
			{body}
		</h3>
	<div id="loading"></div>
	<div class="food-container">
	{n_rec.map((item) => (
		<>
		<RecipeDiv id={`${item}`} title='Yes'></RecipeDiv>
		</>
	))}
	</div>
	</div>
</li>

<script is:inline define:vars={{maxtime, url}} defer>
    // Function that grabs dynamicly delivered Recipes based on userId
    // This will need to be inserted into the main form page, and not on each 
    // component, as we only want to run it once!

	//====================== API FETCH ======================

	async function getRecipes(url) {
		response = await fetch(url)
		return response.json()
	}

	async function getImage(url) {
		response = await(fetch(url))
		return response.json()
	}
	//====================== Recipe Loader ======================

	const loader = document.querySelector('#loading')

    async function loadContent() {
		const data = await getRecipes(url)
		data.map((element, index) => {
			holder = document.getElementById(`recipe_holder_${index}`)
			image = holder.querySelector('#recipe_image')
			title = holder.querySelector('#title')
			content = holder.querySelector('#content')

			holder.dataset.id=element.recipe_id
			image.src = `http://0.0.0.0/api/images/${element.recipe_id}.jpg`
			title.textContent = element.recipe_name
			console.log(element.recipe_id)
		})
		console.log(data)
		
        // var arr = Array.prototype.slice.call( collections )
        // arr.forEach(item => {
        //     getImages(item.id, call=url)
        // })
        
    }

    loadContent()
</script>


<style>


	* { min-width: 0; min-height: 0; list-style: none;}

	.likard {
		margin-bottom: 1rem;
		list-style: none;
		display: flex;
		flex-direction: column;
		padding: 0.15rem;
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;

	}
	.likard-cont-mov {
		width: 96%;
		padding: 1em 1.3em;
		border-radius: 0.35rem;
		background-color: white;
		list-style: none;
	}

	.food-container {
		display: flex;
		flex-wrap: wrap;
		
	}
	.likard > .likard-cont-mov > .forms {
		display: flex;
		justify-content: center;
		padding-top: 1rem;
		padding-right: 1rem;
		}
	

	.likard > .likard-cont-mov > form{
		display: flex;
		flex-direction: row;
		list-style: none;
		padding-left: 0px;
	}
	.likard > .likard-cont-mov > form > label{
		flex-direction: column;
		width: 20%;
		list-style: none;
	}

    .poster {
        width: 100%;
        object-fit: contain;
    }

	.likard > .likard-cont-mov > div > form > span {
		padding-left: 4rem;
		display: inline-block;
	}
	
	.likard > .likard-cont-mov > div > form > span > input {		
		border: 0px;
    	height: 1rem;
		width: 100%;
	}

	.likard > .likard-cont-mov > form > span > label{
		padding-left: 1rem;
	}

	
	.likard > .likard-cont-mov > a{		
		text-decoration: none;
		line-height: 1.4;
		color: var(--text-color);		
	}

	h2 {
		margin: 0;
		display: inline-block;
		list-style: none;
	}
    
    p {
        margin-top: 0.75rem;
        margin-bottom: 0;
    }

	.likard:is(:hover, :focus-within) {
		background-position: 0;
	}

	.likard:is(:hover, :focus-within) h2 {
		color: #221f20;
		transform: translateX(2px);
	}
	
</style>

<!-- We have to make this global to avoid Astro hydrating it alongside the rest. -->
<style is:global>
	.clickableButton > [type=checkbox]:checked + img {
	border: 2px solid #F1F1F1;
}
</style>
